*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
PullToRefresh/build/
SlidingLibrary/build/
ToggleButtonLib/build/
LockLibrary/build/
app/src/androidTest/
FlycoTabLayoutLib/build/
AntilazyLoad/build/
.idea/
bdintegrationsdk_libproject/build/
droidfixcore/build/
*.apk
app/DroidPatch/
projectFilesBackup/
/freeline/
/freeline_project_description.json
/freeline.py
/data/build/
/apstsLibrary/build/
/apstsLibrary/apstsLibrary.iml
/node_modules/
!/bdintegrationsdk/build/
/bdintegrationsdk/build/
/.idea/
!/.gitignore
